
#contenedorCalendario {
    max-width: 90vw;
    margin: 20px 5px 20px 5px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

@media (min-width: 600px) {
    #contenedorCalendario {
        max-width: 500px;
    }
}

#mes {
    background-color: #4285f4;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mes span {
    cursor: pointer;
}

#dias,
#dias1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
}

.dia {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid transparent;
}

.numero-dia {
    position: static;
}

.dia.con-pedido {
    border: 2px solid black;
}

.dia.selected {
    background-color: #e47878 !important;
    color: white;
}

.dia-hoy {
    background-color: #78b7e4 !important;
    color: white;
}

.calendario-day-header {
    text-align: center;
    padding: 7px;
    font-weight: bold;
    font-size: 14px;
}

.empty {
    visibility: hidden;
}

/* Eliminar el recuadro de códigos */
.codigos {
    display: none !important;
}


.contiene {
    border: 1px solid black;
}