
@font-face {
    font-family: 'Candara';
    src: url('../font/Candara.ttf');
}
div{
    font-family: 'Candara';
}
.boton-cliente{
    margin: 8px;
}
textarea{
    text-transform:uppercase;
}
div.right > i{
    margin: 10px;
    cursor: pointer;
}
.romperTexto{
    
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}