
@font-face {
    font-family: 'Candara';
    src: url('../font/TypoSlabserif-Light.ttf');
}
*{
    font-family: 'Candara';
}
.boton-cliente{
    margin: 8px;
}
textarea,ons-input{
    text-transform:uppercase;
}

div.right > i{
    margin: 10px;
    cursor: pointer;
}
.romperTexto{
    
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
#programaStyle:hover{
    cursor: pointer; 
}
#programaStyle:active{
    box-shadow: 0px 0px 10px 0px #333 inset
}
#programaStyle{
    background-color: rgba(133, 133, 133, 0.438);
    color: rgba(79, 79, 79, 0.758);
    border-radius: 50px;
    padding: 1%;
    
}
textarea{
    overflow: hidden;
}
.centrar{
    text-align: center;
}
.boton-icono{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    -webkit-filter: drop-shadow(0px 1px 2px rgba(51, 51, 51, 0.645));
    
}
.boton-icono:active{
    background-color: rgba(255, 255, 255, 0.616);
}

ons-search-input{
    width: 100%;
    border-radius: 40px;
}
ons-search-input > input{
    border-radius: 40px;
}

.imagen-logo{
    margin-top: 3px;
}


.list-cliente-animation, .list-producto-animation{
    animation-duration: 2s;
    animation-name: animTexto;
}
  
@keyframes animTexto {
    10% {
        transform: translateX(0px);
    }
    20%{
        transform: translateX(-20px);
    }
    70% {
        transform: translateX(200vh);
    }
    100% {
        transform: translateX(205vh);
    }
}

body{

    overflow-x:hidden;
    
}

.input-100{
    width: 100%;
}

i{
    color: rgba(215,172,118,1)
}
.botonCerrar{
    position:absolute; 
    background-color:rgb(201, 59, 59);
    color:white; 
    width:25px;
    height: 25px;
    border-radius:10px;
    cursor: pointer;
}
.programa{
    position: absolute;
    font-weight: bold;
    
}

.contenedorPrograma{
    background: black;
}

#proceso
{
 background-color: rgba(215,172,118,1);
 color: white;
}
#terminado{
    background-color: rgba(35, 154, 75, 0.933);
    color: white;
}
#pendiente{
    background-color: rgb(209, 209, 209);
}

.programaTitle{
    font: bold;
    margin: 0%;
    
}
#contenedorPrograma{
    background:rgba(255, 255, 255, 0);
    font: bold;
    border: 2px solid #ffffff;
    border-radius: 30px;
}
#contenedorPrograma > div{
    color: rgb(93, 76, 50);
    font: bold;
    font-family: 'Candara';
}

.botonPrograma:active{
    box-shadow: 0px 0px 10px -6px black inset;
}
.botonPrograma{
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Candara';
}

.contenedor2Programa{
    background-color: rgba(255, 255, 255, 0.464);
    border: 2px solid #ffffff;
    border-radius: 40px;
    justify-content  : center;
    font-family: 'Candara';
    
    
}
.contenedor2Programa > h4{
    color:rgb(114, 99, 81);
    margin: auto;
    font-family: 'Candara';
}
ons-toolbar > div.center{
    font-weight: bold;
}