:checked+.tabbar__button {
    color: #AB83C9 !important;
}

.button--large {
    background: #58168b;
}

.alert-dialog-button {
    color: #58168b;
}

.checkbox--material .checkbox--material__input:checked+.checkbox--material__checkmark {
    --checkbox-checked-background-color: #AB83C9 !important;
}

.btnResetear {
    background-color: #8a4290 !important;
    padding: 0;
}

.btnActivo {
    background-color: #9280c8;
    text-align: center;
}

ons-fab {
    background-color: #AB83C9 !important;
    margin-bottom: 20px;
}

.flechaDerecha,
.flechaIzquierda {
    background-color: #AB83C9;
}

.ordenesLamina>i {
    color: #a96ebb;
}

.textAnioFolder {
    color: #a96ebb;
}

span>.fa-folder-open {
    color: #664470 !important;
}

.page__background {
    background-color: #5b556e !important;
    background-image:
        radial-gradient(at 0% 0%, rgba(126, 104, 191, 0.6) 0px, transparent 55%),
        radial-gradient(at 100% 100%, rgba(45, 42, 54, 0.4) 0px, transparent 50%) !important;
}

.year-input #nextYear,
.year-input #prevYear {

    background-color: #AB83C9;
}

.sistema {
    box-shadow: none !important;
    background-color: #ffffff00 !important;
}

i,
.action-sheet-button {
    color: #735eb6;
}

ons-toolbar.toolbar {
    background-color: #AB83C9;
    color: white;
}

#logo {
    margin-top: 10px;
    height: 90px;
}

#mes {
    background: linear-gradient(120deg, #AB83C9, #7d5a97);
}

/* Etiqueta del código (Badge) */
.badge-codigo {
    background-color: #f0f4f8;
    color: #AB83C9;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid rgba(191, 37, 215, 0.2);
    margin-left: 10px;
}

/* card del sub */
.card-sub {
    background: #f2e3e5;
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-sub-header {
    padding: 5px 15px;
    font-weight: bold;
    color: #9b4282;
}

/* Etiquetas de fecha */
.placeholder {
    font-size: 11px;
    color: #9508cd;
    font-weight: bold;
    margin-bottom: -5px;
}


.margen-icon {
    background: #eae3fd;
    color: #720da1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}