:checked+.tabbar__button {
    color: #AB83C9 !important;
}

.button--large {
    background: #58168b;
}

.alert-dialog-button {
    color: #58168b;
}

.checkbox--material .checkbox--material__input:checked+.checkbox--material__checkmark {
    --checkbox-checked-background-color: #AB83C9 !important;
}

.btnResetear {
    background-color: #8a4290 !important;
    padding: 0;
}

.btnActivo {
    background-color: #9280c8;
    text-align: center;
}

.fab-animado {
    background-color: #AB83C9 !important;
    margin-bottom: 20px;
    border: white 2px solid !important;
}

.flechaDerecha,
.flechaIzquierda {
    background-color: #AB83C9;
}

.ordenesLamina>i {
    color: #a96ebb;
}

.textAnioFolder {
    color: #a96ebb;
}

span>.fa-folder-open {
    color: #664470 !important;
}

.page__background {
    background-color: #5b556e !important;
    background-image:
        radial-gradient(at 0% 0%, rgba(126, 104, 191, 0.6) 0px, transparent 55%),
        radial-gradient(at 100% 100%, rgba(45, 42, 54, 0.4) 0px, transparent 50%) !important;
}

.year-input #nextYear,
.year-input #prevYear {

    background-color: #AB83C9;
}

.sistema {
    box-shadow: none !important;
    background-color: #ffffff00 !important;
}

i,
.action-sheet-button {
    color: #a18aee;
}

ons-toolbar.toolbar {
    background-color: #AB83C9;
    color: white;
}

#logo {
    margin-top: 10px;
    height: 90px;
}

#mes {
    background: linear-gradient(120deg, #AB83C9, #7d5a97);
}

/* Etiqueta del código (Badge) */
.badge-codigo {
    background-color: #f0f4f8;
    color: #AB83C9;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid rgba(191, 37, 215, 0.2);
}

/* card del sub */
.card-sub {
    background: #f2e3e5;
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-sub-header {
    padding: 5px 15px;
    font-weight: bold;
    color: #9b4282;
}

/* Etiquetas de fecha */
.placeholder {
    font-size: 11px;
    color: #9508cd;
    font-weight: bold;
    margin-bottom: -5px;
}


.margen-icon {
    background: #eae3fd;
    color: #720da1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipo-actividad-badge {
    font-size: 10px;
    font-weight: 800;
    color: #4f46e5;
    background: #eef2ff;
    padding: 2px 6px;
    border-radius: 4px;
    text-transform: uppercase;
}

ons-tab {
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

ons-tab.active {
    background-color: #ffffff !important;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 10px 20px rgba(109, 109, 109, 0.3);
    border: #7e68bf 1px solid;
    border-radius: 25px;
    margin: 3px 5px 0 20px;
    z-index: 10;
}

ons-tab.active .tabbar__label,
ons-tab.active .tabbar__icon {
    color: #7e68bf !important;
    animation: slideUp .5s ease-out;
}

:checked+.tabbar__button {
    padding-bottom: 5px;
}

ons-tab.active .tabbar__icon {
    text-shadow:
        1px 1px 0 #ccc,
        1.5px 1.5px 0 #bbb,
        2px 2px 0 #aaa,
        2.5px 2.5px 0 #999,
        3px 3px 0 #888,
        3.5px 3.5px 3.5px rgba(0, 0, 0, 0.5);
}

@keyframes slideUp {
    0% {
        transform: translateY(7px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}